---
import Text from './Text.astro';
import Icon from './Icon.astro';

const { data } = Astro.props;
console.log(data);
---

<div class="pb-5 p-5">
    <div class="mt-3">
        <Text type="bold" text={data.name} />
    </div>
    <img
        src={data.avatar_url}
        alt={data.name}
        class="rounded-full w-72 border-2 border-highlight_300 shadow-lg shadow-highlight_300 dark:border-lightblue_600 dark:shadow-lightblue_600"
    />
    <div>
        <Text text={data.bio} />
    </div>

    <div class="flex items-center">
        <Text text={`Location: ${data.location}`} />
        <Icon src="/cn-flag.svg" />
    </div>
    <div class="flex items-center">
        <Text text={`Blog: ${data.blog === '' ? 'Under Construction' : data.blog}`} type="bold" />
    </div>
    <div class="flex items-center">
        <Text text={`Working ${data.company}`} />
    </div>
</div>
