---
import Tooltip from './Tooltip.astro';
import { Square } from '../components/Square';
const { data } = Astro.props;
---

<div class="columns-53 mobile:columns-24 gap-x-0.5 max-w-4xl block">
    {
        Object.keys(data).map((item: any, index) => {
            const o = Object.keys(data[item]);
            const value: any = Object.values(data[item]);
            const isDesktop = index > 200;

            return (
                <>
                    <Tooltip tooltipValues={value} index={index} date={o} />
                    <Square client:load index={index} value={value} isDesktop={isDesktop} />
                </>
            );
        })
    }
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</div>
