---
import { Tooltip } from '../components/Tooltip';
const { data } = Astro.props;
---

<style>
    .__columns {
        columns: 55;
        column-gap: 4px;
    }

    @media (max-width: 800px) {
        .hide-mobile {
            display: none;
        }

        .__columns {
            columns: 18;
            column-gap: 1rem;
        }
    }
</style>

<div class="__columns max-w-4xl">
    {
        Object.keys(data).map((item: any, index) => {
            const o = Object.keys(data[item]);
            const v: any = Object.values(data[item]);
            const isDesktop = index > 260;

            const colorHelper = (num: number) => {
                switch (true) {
                    case num > 0 && num <= 2:
                        return 'bg-purple-400 dark:bg-red-400';
                    case num >= 2 && num <= 4:
                        return 'bg-purple-500 dark:bg-red-500';
                    case num >= 5 && num <= 7:
                        return 'bg-purple-600 dark:bg-red-600';
                    case num > 7:
                        return 'bg-purple-800 dark:bg-red-800';
                    default:
                        return 'bg-white';
                }
            };

            return (
                <>
                    <Tooltip tooltipValues={v} index={index} date={o} />

                    <div
                        data-tooltip-target={`tooltip-default-${index}`}
                        class={`${
                            !isDesktop ? 'hide-mobile' : ''
                        } font-bold border-2 w-4 h-4 aspect-square border-slate-400 rounded-full dark:border-slate-300 drop-shadow-md 
					${colorHelper(v)}`}
                    >
                        <div class="invisible" data-tooltip-target="tooltip-default">
                            {v}
                        </div>
                    </div>
                </>
            );
        })
    }
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</div>
