---
import { Body } from '../components/Body';
import { Header } from '../components/Header';
import Loading from './Loading.astro';
import { fetchHelper, fetchContributions } from '../utils/fetch';
import Card from './Card.astro';
import Contributions from './Contributions.astro';
import Social from './Social.astro';
import Tools from './Tools.astro';
import { ContributionHistory } from '../components/ContributionHistory';
import { Text } from '../components/Text';
import { BsGithub } from 'react-icons/bs';
import { Tooltip } from '../components/Tooltip';

export interface Props {
    title: string;
}
// todo remove loading states since its a ssr app
const { isLoading, data, err }: any = await fetchHelper('users');
const { isLoading: isLoadingContributions, data: contributionData, err: error }: any = await fetchContributions('a');
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" href="/logo.png" type="image/x-icon" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://css.gg/css" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
        <style>
            :root {
                --ggs: 0.8;
            }
        </style>
        <script defer src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.js"></script>
    </head>
    <body class="bg-bg_white dark:bg-bg_dark h-screen w-screen max-w-7xl mx-auto">
        <!-- rename body  -->
        <Body client:load>
            <main slot="body">
                <Header client:load />
                {
                    isLoading || !data ? (
                        <Loading />
                    ) : (
                        <section>
                            <Card data={data} />
                        </section>
                    )
                }

                {
                    isLoadingContributions || !contributionData ? (
                        <Loading />
                    ) : (
                        <section class="flex justify-center mobile:ml-3">
                            <div>
                                <span class="flex items-center text-sm mb-2">
                                    <Text text={contributionData.last_year_contribution} customClasses="font-bold" />
                                    <BsGithub className="text-highlight_600 dark:text-lightblue_300 ml-3" />
                                    <Text text={'last_year_contribution'} customClasses="ml-1" />
                                </span>
                                <Contributions data={contributionData.contributions} />
                            </div>
                        </section>
                    )
                }
                <ContributionHistory client:load />
            </main>
            <section slot="footer" class="w-full mr-4">
                <div class="flex justify-between">
                    <Tools />
                    <Social />
                    <div>{null}</div>
                </div>
            </section>
        </Body>
    </body>
</html>
