---
import { Body } from '../components/Body';
import { Header } from '../components/Header';
import Loading from '../templates/Loading.astro';
import { fetchHelper, fetchContributions } from '../utils/fetch';
import Card from '../templates/Card.astro';
import Contributions from '../templates/Contributions.astro';
import { ContributionHistory } from '../components/ContributionHistory';
import Text from '../templates/Text.astro';

export interface Props {
    title: string;
}
// todo remove loading states since its a ssr app
const { isLoading, data, err }: any = await fetchHelper('users');
const { isLoading: isLoadingContributions, data: contributionData, err: error }: any = await fetchContributions('a');
// const { data: contribution }: any = await fetchContribution();
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" href="/logo.png" type="image/x-icon" />
        <title>{title}</title>
    </head>

    <Body client:load>
        <main slot="body">
            <Header client:load />
            {
                isLoading || !data ? (
                    <Loading />
                ) : (
                    <section class="flex justify-center">
                        <Card data={data} />
                    </section>
                )
            }

            {
                isLoadingContributions || !contributionData ? (
                    <Loading />
                ) : (
                    <>
                        <section class="block mx-auto w-5/6">
                            <Text
                                customClasses="ml-1"
                                text={`${contributionData.last_year_contribution} contributions in the last year. on @github`}
                            />
                            <div>
                                <Contributions
                                    isLoading={isLoadingContributions}
                                    data={contributionData.contributions}
                                    error={error}
                                    last_year={contributionData.last_year_contribution}
                                />
                            </div>
                        </section>
                    </>
                )
            }
            <ContributionHistory client:load />

            <!-- <footer>this is a footer</footer> -->
        </main>
    </Body>
</html>
